* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* width: 100%; */
}

.wrap_nav {
    width: 100%;
    margin: 0px auto;
}

div.all {
    display: none;
    /* border: 10px solid red; */
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/* styling the #nav1 */

#add_span {
    display: none;
    background-color: greenyellow;
    border-radius: 10px;
}

#add_span1 {
    display: none;
    background-color: greenyellow;
    border-radius: 10px;
    color: white;
}

div.shopdrop {
    display: none;
}

div.shopup {
    display: block;
    position: fixed;
    bottom: 370px;
    right: 134px;
    border-radius: 5px;
    padding: 10px;
    animation-name: example;
    animation-duration: 0.3s;
    background-color: white;
    box-shadow: 5px 10px 10px 5px #888888;
    z-index: 2;
}

@keyframes example {
    from {
        background-color: transparent;
    }
    to {
        background-color: white;
        box-shadow: 5px 10px 10px 5px #888888;
    }
}

#nav1,
#nav2 {
    padding: 17px;
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
}

#span1,
#span2,
#span3,
#span4,
#span5,
#span6,
#span7,
#span8,
#span9 {
    cursor: pointer;
}

#nav2 {
    display: none;
}

#nav1 #span1 {
    margin-right: 10px;
}

#nav1 #span2 {
    margin-right: 30%;
}

#nav1 #span3 {
    margin-right: 25%;
}

#nav1 #span4 {
    margin-right: 20px;
    background-color: rgb(142, 212, 68);
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

#nav1 #span5 {
    margin-right: 20px;
}

#nav1 #span6 {
    margin-right: 20px;
}

#nav1 #span7 {
    margin-right: 20px;
}


/* end of styling the #nav1 */


/* img stay */

div.img {
    background-image: url('../asset/first1.jpg');
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 17%;
    padding-left: 15%;
    padding-right: 15%;
    /* background-attachment: fixed; */
}

div.text-img {
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 50px;
    padding-left: 30px;
    padding-bottom: 50px;
    padding-right: 30px;
}

div.text-img h1 {
    font-size: 70px;
    margin: 0px;
    padding: 0px;
}

div.text-img p {
    font-size: 20px;
}

div.text-img button {
    border: none;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(142, 212, 68);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}


/* end of img stay */


/* drop down styling item */

#nav2 #span8 {
    cursor: pointer;
}

.current_m {
    font-size: 0px;
}

.current_ok {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    transition: background-color 0.5s ease-in-out;
}

.shop_only {
    font-size: 0px;
}

.shop_ok {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    transition: background-color 0.5s ease-in-out;
}

.grab_only {
    font-size: 0px;
}

.grab_ok {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    transition: background-color 0.5s ease-in-out;
}

.blog_only {
    font-size: 0px;
}

.blog_ok {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
    transition: background-color 0.5s ease-in-out;
}

.blog_ok:hover {
    background-color: yellowgreen;
    color: white;
}

.grab_ok:hover {
    background-color: yellowgreen;
    color: white;
}

.current_ok:hover {
    background-color: yellowgreen;
    color: white;
}

.shop_ok:hover {
    background-color: yellowgreen;
    color: white;
}


/* end of item from drop down */


/* styling the how it works */

.how {
    padding-top: 80px;
    padding-bottom: 80px;
}

.how h1 {
    text-align: center;
    padding-bottom: 50px;
}


.how .card {
    border: none;
    text-align: center;
}



/* attach image and text in the second section */

.attach_image_first {
    background-image: url("../asset/allmenu.png");
    height: 100%;
}

.attach_text_first {
    padding-top: 50px;
    background-color: white;
    padding-bottom: 50px;
}

.attach_image_first p {
    text-align: center;
}

.attach_image_first h1 {
    text-align: center;
}

.attach_image_first .container {
    padding-top: 80px;
    padding-bottom: 80px;
}


#image_style {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


#ok_ok {
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px rgb(227, 226, 226);
}

#ll_ll {
    margin-top: 50px;
}

#add_to_cart {
    margin-left: 40px;
    margin-top: 10px;
    text-align: center;
    border-bottom: 2px solid rgb(142, 212, 68);;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    transition: background 0.5s ease-in-out;
    cursor: pointer;
}

#add_to_cart:hover {
    background-color: white;
    color:rgb(142, 212, 68);
}

.fifth_link_ok a:hover {
    background-color: white;
    color: rgb(142,212,68);
    border: 6px solid white;
    border-radius: 10px;
}


.card {
    border: none;
}

.link_a {
    text-align: center;
    margin-top: 50px;
}

.link_a a {
    text-align: center;
    border: 6px solid rgb(142,212,68);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
    color: rgb(142,212,68);
    border-radius: 10px;
    transition: background 0.5s ease-in-out;
}

.link_a a:hover {
    background-color: rgb(142,212,68);
    color: white;
    border: 6px solid white;
}

/* third section */

.my_row {
    display: flex;
    text-align: center;
    justify-content: space-between;
}


.my_card1 {
    padding: 10px;
    box-shadow: 2px 2px 5px 5px rgb(227, 226, 226);
    border-radius: 10px;
}

.my_card2 {
    padding: 10px;
    box-shadow: 2px 2px 5px 5px rgb(227, 226, 226);
    border-radius: 10px;
}

.my_card3 {
    padding: 10px;
    box-shadow: 2px 2px 5px 5px rgb(227, 226, 226);
    border-radius: 10px;
}

.my_card4 {
    padding: 10px;
    box-shadow: 2px 2px 5px 5px rgb(227, 226, 226);
    border-radius: 10px;
}

.my_card5 {
    padding: 10px;
    box-shadow: 2px 2px 5px 5px rgb(227, 226, 226);
    border-radius: 10px;
}



.choose_link {
    margin-bottom: 30px;
}

.choose_link a {
    background-color: rgb(142,212,68);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: background 0.5s ease-in-out;
}

.choose_link a:hover {
    background-color: white;
    color: rgb(142,212,68);
    border: 6px solid white;
    border-radius: 10px;
}


/* testimoney */

.fourth_section {
    background-color: rgb(239,249,229);
    padding-top: 100px;
    padding-bottom: 100px;
}
.my_col {
    display: flex;
    margin-top: 50px;
}

.arr_1 {
    flex-basis: 20%;
}

.arr_2 {
    flex-basis: 20%;
    text-align:end;
}

.text_1 {
    flex-basis: 60%;
    display: block;
}

.text_1 p {
    text-align: center;
}


/* fifth section */

.fifth_section {
    width: 100%;
    margin: 0px auto;
}

.fifth_1 {
    padding-top: 100px;
}

.fifth_1_ok {
    padding-top: 40px;
}

.fifth_1 img {
    padding-left: 300px;
}

.fifth_1_ok img {
    padding-right: 300px;
}

.fifth_text_1 {
    position: relative;
    bottom: 200px;
    right: 170px;
    width: 40%;
    margin: 0px auto;
    background-color: white;
    box-shadow: 2px 2px 5px 5px rgb(227, 226, 226);
    padding: 20px;
    border-radius: 5px;
}

.fifth_text_1_ok {
    position: relative;
    bottom: 200px;
    left: 170px;
    width: 40%;
    margin: 0px auto;
    background-color: white;
    box-shadow: 2px 2px 5px 5px rgb(227, 226, 226);
    padding: 20px;
    border-radius: 5px;
}

.fifth_text_1 h1 {
    font-size: 50px;
}

.fifth_text_1_ok h1 {
    font-size: 50px;
}

.fifth_link_ok a, .fifth_link a {
    background-color: rgb(142,212,68);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: background 0.5s ease-in-out;
}

.fifth_link_ok a:hover {
    background-color: white;
    color: rgb(142,212,68);
    border: 6px solid white;
    border-radius: 10px;
}

.fifth_link a:hover {
    background-color: white;
    color: rgb(142,212,68);
    border: 6px solid white;
    border-radius: 10px;
}

/* last section */


.last_section {
    width: 100%;
    margin: 0px auto;
    background-color: rgb(45,45,45);
    padding-top: 50px;
}

.last_section .card {
    background-color: rgb(45,45,45);
    color: white;
}

/* cart side bar */

.cart_display_cont {
    position: fixed;
    left: 80%;
    height: 100px;
    width: 120px;
    top: 80%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 5px 5px rgb(227, 226, 226);
    display: none;
}

.cart_display_cont button {
    border: none;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: greenyellow;
    color: white;
    border-radius: 10px;
}

/* all responsiveness */


@media (max-width: 1316px) {
    #nav1 #span2 {
        margin-right: 15%;
    }
    #nav1 #span3 {
        margin-right: 25%;
    }
}

@media (max-width: 1024px) {

    .footer_ok {
        text-align: center;
    }
    
    #nav1 {
        display: none;
    }
    #nav2 {
        display: block;
    }
    #nav2 {
        text-align: center;
    }
    #nav2 #span6 {
        margin-right: 30px;
    }
    #nav2 #span8 {
        margin-right: 30px;
        font-size: 25px;
        margin-top: 10px;
        /* border: 1px solid red; */
    }
}

@media (max-width: 994px) {

    .footer_ok {
        text-align: center;
    }

    .fifth_text_1 {
        right: 100px;
        width: 50%;
    }

     .fifth_text_1_ok {
        left: 100px;
        width: 50%;
    }

    .fifth_1 img {
        padding-left: 100px;
    }

    .fifth_1_ok img {
        padding-right: 100px;
    }
    

    .fifth_text_1 h1 {
        font-size: 30px;
    }

    .fifth_text_1_ok h1 {
        font-size: 30px;
    }
}


@media (max-width: 768px) {
    #nav1 {
        display: none;

    }
    #nav2 {
        text-align: center;
    }
    #nav2 #span9 {
        width: 50px;
    }
    div.img {
        padding-top: 24%;
    }
}

@media (max-width: 767px) {
    .fifth_text_1 {
        width: 67%;
    }

    .fifth_text_1_ok {
        width: 67%;
    }
}


@media (max-width: 770px) {
    .my_row {
        display: block;
        justify-content: space-between;
    }
}

@media (max-width: 576px) {
    .cart_display_cont {
        left: 70%;
    }
}

@media (max-width: 568px) {
    .fifth_text_1 {
        right: 50px;
    }

    .fifth_text_1_ok {
        left: 50px;
    }

    .fifth_1 img {
        padding-left: 20px;
    }

     .fifth_1_ok img {
        padding-right: 20px;
    }
}

@media (max-width: 425px) {
    #nav1 {
        display: none;
    }
    #nav2 {
        text-align: center;
    }
    #nav2 #span6 {
        margin-right: 20px;
    }
    #nav2 #span8 {
        font-size: 20px;
    }
    #nav2 #span9 {
        width: 40px;
    }
    div.text-img h1 {
        font-size: 40px;
    }
    div.img {
        padding-top: 30%;
    }

    .fifth_text_1 {
        right: 10px;
        left: 0px;
        bottom: 250px;
        width: 80%;
    }

    .fifth_text_1_ok {
        left: 10px;
        right: 0px;
        bottom: 250px;
        width: 80%;
    }
}

@media (max-width: 416px) {
    .cart_display_cont {
        left: 60%;
    }
}

@media (max-width: 375px) {
    #nav1 {
        display: none;
    }
    #nav2 {
        text-align: center;
    }
    #nav2 #span9 {
        width: 35px;
    }
    div.text-img button {
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
    }

     .fifth_text_1 {
        bottom: 200px;
        width: 95%;
    }

     .fifth_text_1_ok {
        bottom: 200px;
        width: 95%;
    }
}

@media (max-width: 320px) {
    #nav1 {
        display: none;
    }
    #nav2 {
        text-align: center;
    }
    #nav2 #span9 {
        width: 30px;
    }
    div.img {
        padding-top: 40%;
    }
}

@media (max-width: 307px) {
    .cart_display_cont {
        left: 50%;
    }
}